.footer {
    background-color: #97DADE;
}

.footer__row {
    padding: 0 60px;
}

.footer__column {

}

.footer__copyright {
    padding: 40px 0;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 500;
}

.footer__up {
    padding: 40px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 500;
    text-align: center;
}

.footer__icons {
    float: right;
    padding: 40px 0;
}

.footer__icon {
    display: block;
    float: left;
    width: 30px;
    height: 30px;

    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 10px;
}

@media (min-width: 0px) {
    .footer__row {padding: 0 60px;}

    .footer__icons {padding: 25px 0; width: 100%; display: flex;}
    .footer__icon {width: 25px; height: 25px; margin: 0 auto;}

    .footer__copyright {padding: 15px 0; font-size: 0.8em; text-align: center;}
    .footer__up {padding: 15px 0; font-size: 0.8em;}
    .footer__icons {padding: 15px 0;}
}

@media (min-width: 320px) {
}

@media (min-width: 480px) {

}

@media (min-width: 600px) {
    .footer__row {padding: 0 60px;}

    .footer__icons {padding: 30px 0; width: initial; display: block;}
    .footer__icon {width: 20px; height: 20px; margin: 0 6px;}

    .footer__copyright {padding: 25px 0; font-size: 0.65em; text-align: left;}
    .footer__up {padding: 25px 0; font-size: 0.65em;}
    .footer__icons {padding: 25px 0;}
}
@media (min-width: 801px) {
    .footer__row {padding: 0 60px;}

    .footer__icons {padding: 30px 0;}
    .footer__icon {width: 30px; height: 30px; margin: 0 6px;}

    .footer__copyright {padding: 45px 0; font-size: 1em;}
    .footer__up {padding: 45px 0; font-size: 1em;}
    .footer__icons {padding: 45px 0;}
}

@media (min-width: 1025px) {
    .footer__row {padding: 0 60px;}

    .footer__icons {padding: 30px 0;}
    .footer__icon {width: 30px; height: 30px; margin: 0 10px;}

    .footer__copyright {padding: 45px 0; font-size: 1em;}
    .footer__up {padding: 45px 0; font-size: 1em;}
    .footer__icons {padding: 40px 0;}
}

@media (min-width: 1441px) {
}

@media (min-width: 2128px) {
    .footer__row {padding: 0 60px;}

    .footer__icon {width: 50px; height: 50px; margin: 0 20px;}

    .footer__copyright {padding: 50px 0; font-size: 1.6em}
    .footer__up {padding: 50px 0; font-size: 1.6em}
    .footer__icons {padding: 50px 0;}
}

