@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=PT+Serif');

.page
{
    margin: 0;

    min-width: 320px;

    font-family: 'Montserrat', sans-serif;
}


html, body, .page {
    width: 100%
}
