.collab {
    position: relative;

    background-color: #999999;
}

.collab__row {
    padding: 8em 4em;
    box-sizing: border-box;
}

.collab__header {
    padding: 0.6em 0;
    font-size: 2.5em;

    text-align: center;

    text-transform: uppercase;

    color: #ffffff;
}

.collab__text {
    padding: 0 8em;
    font-size: 1.4em;
    line-height: 1.6em;

    text-align: center;

    color: #ffffff;
}

.collab__pane {
    padding-top: 4em;
    padding-bottom: 1em;
    text-align: center;
}

.collab__button {
    margin: 0;
    padding: 1em 3em;
    font-size: 1.2em;

    border: solid #ffffff 2px;

    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-weight: 900;
}

.collab__hint {
    padding: 0 4em;

    position: absolute;
    top: 3em;
    left: 0;
}

@media (min-width: 0px) {
    .collab__row                {padding: 6em 2em 4em 2em;}
    .collab__header             {padding: 0.6em 0; font-size: 1.2em;}
    .collab__text               {padding: 0 1em; font-size: 0.7em; line-height: 1.4em;}
    .collab__pane               {padding-top: 2em; padding-bottom: 0;}
    .collab__button             {padding: 1em 3em; font-size: 0.6em;}
}
@media (min-width: 320px) {
}
@media (min-width: 480px) {
    .collab__row                {padding: 6em 4em 4em 4em;}

}
@media (min-width: 600px) {
    .collab__row                {padding: 8em 4em 4em 4em;}
    .collab__header             {padding: 0.6em 0; font-size: 1.4em;}
    .collab__text               {padding: 0 1em; font-size: 0.9em; line-height: 1.4em;}
    .collab__pane               {padding-top: 3.5em; padding-bottom: 1em;}
    .collab__button             {padding: 1em 3em; font-size: 0.8em;}

    .collab__hint               {top: 3em; left: 0;}
}
@media (min-width: 801px) {

}
@media (min-width: 1025px) {
    .collab__row                {padding: 8em 4em;}
    .collab__header             {padding: 0.6em 0; font-size: 2em;}
    .collab__text               {padding: 0 1em; font-size: 1.2em; line-height: 1.6em;}
    .collab__pane               {padding-top: 5em; padding-bottom: 1em;}
    .collab__button             {padding: 1em 3em; font-size: 1em;}

    .collab__hint               {top: 3em; left: 2em;}
}
@media (min-width: 1441px) {
    .collab__row                {padding: 8em 4em;}
    .collab__header             {padding: 0.6em 0; font-size: 3.5em;}
    .collab__text               {padding: 0 4em; font-size: 1.6em; line-height: 1.6em;}
    .collab__pane               {padding-top: 6em; padding-bottom: 1em;}
    .collab__button             {padding: 1em 3em; font-size: 1.2em;}

    .collab__hint               {top: 4em; left: 4em;}
}
@media (min-width: 2128px) {
    .collab__row                {padding: 16em 4em;}
    .collab__header             {padding: 0.6em 0; font-size: 5em;}
    .collab__text               {padding: 0 8em; font-size: 2.8em; line-height: 1.8em;}
    .collab__pane               {padding-top: 8em; padding-bottom: 2em;}
    .collab__button             {padding: 1em 3em; font-size: 2.4em;}

    .collab__hint               {top: 8em; left: 8em;}
}
